<h1>NUEVO TALLER 2025 - 2030</h1>

<form action="/create" method="post">
    <fieldset>
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name">
    </fieldset>

    <fieldset>
        <label for="description">Descripción:</label>
        <textarea name="description" id="description" rows="10" cols="50"></textarea>
    </fieldset>
    
    <fieldset>
        <input type="submit" value="Crear Taller">
    </fieldset>
</form>